<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hello GitHub</title>
  <script>
    (function () {
      var s = document.createElement('script');
      s.src = "/static/demo.js?t=" + new Date().getTime();
      s.async = true;
      document.head.appendChild(s);
    })();
  </script>
</head>

<body>
  <style>
    h1 {
      color: red;
    }

    p {
      color: blue;
    }
  </style>
  <h1>Test html</h1>
  <h1>QOO</h1>
  <div id="apple"></div>
  <a href="/login">
    <button type="">login</button>
  </a>
  <a href="/games">
    <button type="">games</button>
  </a>
  <a href="/camera">camera</a>
  <a href="/camera2">camera2</a>
  <a href="/cie1931">cie1931</a>
  <a href="/cie1931_2?a=3">cie1931_2</a><br>
  <a href="/html_ex">html_ex</a>
  <button id="conBt" onclick="connectToApi()">Connection</button>
  <button id="stock_price" onclick="stocks_price()">Stocks</button>
  <table>
    <thead>
      <tr>
        <th>名次</th>
        <th>股票名稱號碼</th>
        <th>股票名稱</th>
        <th>漲幅%</th>
      </tr>
    <tbody id="stocks_list"> </tbody>
    </thead>
  </table>
</body>

</html>
